@{
    ViewData["Title"] = "Calender";
}

<div id='calendar'></div>

<!-- Button trigger modal -->

<!-- Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="header-modal">
      <div class="text-header d-flex justify-content-between">
        <h2>Events</h3>
        <span class="close">&times;</span>
      </div>
    </div>
    <div class="modal-input">
      <div class="end-date">
        <input type="date" name="" id="">
      </div>
      <div class="time">
        <input type="time" name="" id="">
        <input type="time" name="" id="">
      </div>
    </div>
  </div>
</div>
